@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
body {
	background: #181818 !important;
	font-family: 'Exo', sans-serif !important;
}

.jumbotron {
	background-image:url("img/jumbo.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-position: center;
}